:root {
  --bg-clr: #2b2730;
  --bright-font-clr: #fff;
  --dark-font-clr: #000;
  --margin-side-walls: 2.5%;
  --linear-gradient-light-bleu: linear-gradient(
    180deg,
    #78c1f3 0%,
    #9be8d8 100%
  );
}

* {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 500;
}

section.hero ~ section{
  padding-top: 48px;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

  background-color: var(--bg-clr);
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 96px;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--linear-gradient-light-bleu);
  box-shadow: -0.625rem 1.5625rem 2.1875rem 1.25rem rgba(0, 0, 0, 0.25);

  z-index: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25% 0 2.5rem;
}

.logo-title {
  color: var(--bright-font-clr);
  font-size: 2.1875rem;
  line-height: 2.375rem;
}

p.logo-title > span {
  color: var(--dark-font-clr);
}

.nav-logo-img {
  flex-shrink: 0;
}

.nav-buttons {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nv-btn {
  color: var(--bright-font-clr);
  line-height: 2.375rem;
  font-size: 1.4375rem;
  text-decoration: none;

  outline: none;
  border: none;
  background: transparent;
}

.nv-btn:hover {
  opacity: 0.5;
  color:var(--dark-font-clr);
  transition-duration: 0.3s;
}

.active {
  color:rgba(0, 0, 0, 0.25);
}

.categories-button,
.language-button {
  color: var(--dark-font-clr);
}

.categories-button {
  padding: 0.5rem 0.75rem;
  border-radius: 1.25rem;
  background: #9be8d8;
}

.hero {
  margin-top: var(--margin-side-walls);
  padding-left: var(--margin-side-walls);
  padding-right: var(--margin-side-walls);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 45%;
}

.main-header {
  font-size: 3.4375rem;
  line-height: 4.0625rem;
  background: linear-gradient(to bottom right, #78c1f3 0%, #9be8d8 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #78c1f3 0%, #9be8d8 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #78c1f3 0%, #9be8d8 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #78c1f3 0%, #9be8d8 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.main-header > span {
  -webkit-text-fill-color: var(--bright-font-clr);
}

div.hero-container > p {
  color: var(--bright-font-clr);
  font-size: 1.5rem;
  line-height: 2.9375;
  width: 80%;
  margin: 0;
}

div.hero-container > button {
  color: var(--dark-font-clr);
  font-size: 1.4375rem;
  line-height: 2.375rem;
  border: none;
  outline: none;

  width: 20%;

  border-radius: 1.25rem;
  background: var(--linear-gradient-light-bleu);
}

.stickers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: var(--margin-side-walls);
  margin-right: var(--margin-side-walls);
}

.stickers-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.one-sticker-container {
  height: 20rem;
  width: 20rem;
  border-radius: 5rem;
  background: linear-gradient(180deg, #78c1f3 0%, #9be8d8 100%);
}

.section-title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5rem auto;
}

div.section-title-container > h2 {
  color: var(--bright-font-clr);
  font-size: 2.5rem;
  line-height: 2.375rem;

  margin: auto 2.5rem;
}

section.stickers > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  padding: 1.5rem 3.5rem;

  font-size: 2.5rem;
  line-height: 2.375rem;

  border-radius: 1.25rem;
  outline: none;
  border: none;
  background: linear-gradient(180deg, #78c1f3 0%, #9be8d8 100%);
}

section.stickers > button > svg {
  margin-left: 1rem;
}

.bookmarks-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10rem;
}

.bookmarks-left-arrow,
.bookmarks-right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;

  border-radius: 50%;

  background: #79e0ee;
}

.bookmarks-img-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 462px;
  width: 1000px;

  margin: auto 2.5rem;
}

.bookmarks-img-container > img {
  object-fit: cover;
  position: absolute;
  object-position: center center;
  overflow: hidden;
}

.right-switcher,
.left-switcher {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.grow {
  height: 500px;
  z-index: 1;
}

.bookmarks-img-container img:nth-child(1){
  transform: translateX(-350px);
}

.bookmarks-img-container img:nth-child(2){
  transform: translateX(-250px);
}

.bookmarks-img-container img:nth-child(3){
  transform: translateX(-150px);
}

.bookmarks-img-container img:nth-child(4){
  transform: translateX(-50px);
}

.bookmarks-img-container img:nth-child(5){
  transform: translateX(50px);
}

.bookmarks-img-container img:nth-child(6){
  transform: translateX(150px);
}

.bookmarks-img-container img:nth-child(7){
  transform: translateX(250px);
}

.bookmarks-img-container img:nth-child(8){
  transform: translateX(350px);
}


.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.polaroid-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10%;
}

.polaroid-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45%;
}

div.polaroid-left-container > p {
  color: var(--bright-font-clr);
  font-size: 3.4375rem;
  line-height: 4.0625rem;
  text-align: center;
  margin-bottom: 10%;
}

.polaroid-camera-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 20rem;
  width: 20rem;

  border-radius: 4.3125rem;
  background: linear-gradient(132deg, #78C1F3 0%, #9BE8D8 100%);

  font-size: 2.125rem;
  line-height: 2.4375rem;
  text-align: center;

  margin-bottom: 10%;
}

.polaroid-right-container {
  display: flex;
  flex-direction: column;
}

.polaroid-right-container > img {
  box-shadow: 2rem 2rem #9BE8D8, 2rem -2rem #9BE8D8;
}

.socialmedia-and-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  margin-bottom: 10vh;
  background: var(--linear-gradient-light-bleu);
}

.socialmedia-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
  margin-right: 5%;
  margin-left: 0;
}

section.socialmedia-and-email > div > h3{
  font-size: 1.8125rem;
  line-height: 2.375rem;
  color: var(--dark-font-clr);
  margin: auto 0 auto 0;
}

.icons-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 5%;
}

.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto 5%;
}

.mail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-text {
  width: 30.5em;
  height: 58px;
  border-radius: 12.5em;
  outline: none;
  border: none;
  margin-left: 1em;
  padding-left: 2em;
}

.mail-box-container > button {
  position: absolute;
  margin-top: .25rem;
  right: 11vw;
  height: 50px;
  width: 140px;

  border-radius: 12.5em;
  outline: none;
  border: none;

  font-size: 1.25rem;
  line-height: 2.375rem;
  color: var(--bright-font-clr);

  background: var(--linear-gradient-light-bleu);

  z-index: 0;
}

.footer {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(287deg, #9BE8D8 0%, #78C1F3 100%);
}

.footer-container {
  padding-top: 2.5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  width: 8rem;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

div.footer-left-container > p {
  color: var(--bright-font-clr);
  font-size: 1.5625rem;
  line-height: 2.385rem;
}

.footer-info-container {
  display: grid;
  grid-template-rows: 5rem repeat(4, 4rem);
  grid-template-columns: repeat(3, 13rem);
  align-items: center;

  margin-left: 5rem;
}

div.footer-info-container > button {
  background: transparent;
  outline: none;
  border: none;

  color: var(--bright-font-clr);
  text-align: left;
  font-size: 1.5625rem;
  line-height: 2.385rem;
}

button.legals ~ button {
  font-size: 1.2rem;
}

.footer-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.footer-icons-container > img {
  margin-bottom: 2rem;
}

section.footer > h4 {
  margin-top: 0;
  padding-top: 5rem;

  color: var(--bright-font-clr);

  font-size: 1.5625rem;
  line-height: 2.385rem;
}